<!DOCTYPE html>
<html>

<head>
    <title>Waiting for responce</title>
    <!--Jquery Library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Microsoft CDN-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script>
        function getRes() {
            url = window.location.href + "/get?id={{id}}";
            $.get(url, function (data, sataus) {
                document.write(data, sataus);
            })
        }
    </script>
</head>

<body onload="getRes()">

</body>

</html>